<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Song Match Your Friends</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Login Page" />
    <meta name="author" content="" />
    <link href="../static/styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="login_div">
    <form id="login_form" method="POST">
      <input type="text" name="username" class="login_class" id="username_box" placeholder="username"/>
      <input type="password" name="password" class="login_class" id="password_box" placeholder="password"/>
      <input type="submit" value="Login" class="login_class" id="login_submit" />
    </form>
    </div>
  </body>
</html>
