<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Song Match Your Friends</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Polling Page" />
    <meta name="author" content="" />
    <link href="style.css" rel="stylesheet" />
  </head>

  <body id="">
      <div>
        <div id="artist_profile">
            <p id="artist_name">Artist Name</p>
            <button id="play_button">play</button>
          </div>
    
          <div id="option_bar">
            <button id="like"><span>&#10003;</span></button>
            <button id="dislike"><span>&#x2717;</span></button>
          </div>
    
          <div id="completion_bar">
    
          </div>
      </div>
  </body>

</html>