@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: #49a6e9;
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(210, 6%, 87%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
body {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 2rem;
  height: 100%;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}
#login_div {
  width: 40%;
  height: 30%;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 25px;
  padding-top: 3.5rem;
  box-shadow: 0 0 10px var(--clr-black);
}

#login_form {
  align-self: flex-start;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login_class {
  flex: 1;
  border: none;
  min-width: 0;
  max-width: 90%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 3px var(--clr-black);
}

#login_submit {
  padding: 4px;
}

#poll_form {
  display: grid;
  justify-items: center;
  align-items: center;
}

#option_bar {
  display: grid;
}

button {
  width: auto;
  padding: 5px;
  font-size: 2rem;
  margin: 20px;
}

.song_buttons {
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  transition-duration: 0.4s;
  cursor: pointer;
}

input#play_button:hover {
  background-color: var(--clr-green-dark);
  color: white;
}

input#pause_button:hover {
  background-color: orange;
  color: white;
}

#option_bar {
  display: grid;
}

#like_dislike_values {
  display: flex;
  width: 100%;
  justify-items: center;
  align-self: center;
}

#options {
  width: 150%;
  display: flex;
  justify-items: center;
  align-self: center;
}

.option_buttons {
  background: var(--clr-primary-9);
  color: var(--clr-grey-1);
  border: none;
  font-size: 3rem;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  width: 120px;
  transition-duration: 0.4s;
  cursor: pointer;
}

input#like:hover {
  background-color: var(--clr-green-dark);
  color: white;
}

input#dislike:hover {
  background-color: orange;
  color: white;
}

.show_result {
  font-size: 3rem;
}

.list_user {
  font-size: 2rem;
  color: purple;
  margin: 5px;
}
